<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245649169399-qna8sf30s7sj0o5eg07sk7gc5knvk6oq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245649169399-qna8sf30s7sj0o5eg07sk7gc5knvk6oq</string>
	<key>API_KEY</key>
	<string>AIzaSyCaNsnYin6--xkoi7WM4wU4WHxXTavwlm0</string>
	<key>GCM_SENDER_ID</key>
	<string>245649169399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.billSplitApp</string>
	<key>PROJECT_ID</key>
	<string>bill-split-app-45a2c</string>
	<key>STORAGE_BUCKET</key>
	<string>bill-split-app-45a2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245649169399:ios:f40deaf96b6c0274d8acf2</string>
</dict>
</plist>